<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <title>{% block title %}
    Homework 5
  {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="#">Homework 5 Navigation bar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {% for label, name in [
        ('Home', 'index_view'),
        ('About me', 'about'),
        ] %}
          {% set url = url_for(name) %}
        <li class="nav-item">
          <a
            class="nav-link {{ 'active' if url == request.path }}"
            aria-current="page"
            href="{{ url }}"
          >
          {{ label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% block body %}
    Base body
  {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<footer>
  &copy; OTUS 2023 author Ilyas Niyazov
</footer>
</body>
</html>
