<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Каталог товара</h5>
      <p class="card-text">В нашем каталоге вы можете найти необходимые товары при помощи поиска по наименованию</p>
      <div class="input-group mb-3">
        <a href="/catalog/" class="btn btn-light" style="background-color: #4eb8a5;">
          Перейти к каталогу
        </a>
        <input type="text" class="form-control" placeholder="Поиск по наименованию"
               aria-label="Поиск" aria-describedby="button-find">
        <button class="btn btn-primary" type="button" id="button-find">Найти</button>
      </div>
    </div>
  </div>
</div>