<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О сайте</title>
</head>
<body>
  <div>
    <div>
      <h1>Django проект</h1>
      <div>
        <h3>Цель:</h3>
        <p>Онлайн маркет для Аптеки</p>
        <ul>
          <li>создайте проект, приложение</li>
          <li>создайте модели</li>
        </ul>
        <h3>Критерии оценки:</h3>
        <ul>
          <li>создан проект</li>
          <li>создано и установлено приложение</li>
          <li>созданы модели</li>
          <li>созданы миграции</li>
        </ul>
      </div>
      <br>
      <div>
        <p><strong>Домашняя работа №7</strong></p>
        <p><strong>Ниязов Ильяс</strong></p>
        <p><strong>03.05.2023</strong></p>
      </div>
    </div>
  </div>
</body>
</html>