{% extends 'base.html' %}

{% block title %}
  Интернет аптека | О сайте
{% endblock %}

{% block body %}
  <div class="card" style="background-color: #4eb8a5;">
    <div class="card-header">
      <h1>Django Generics</h1>
      <div class="card-body">
        <h3>Цель:</h3>
        <p>Онлайн маркет для аптеки</p>
        <h3>Критерии оценки:</h3>
        <ul class="list">
          <li>данные отображаются на страницах</li>
          <li>есть кнопка для возвращения к списку</li>
        </ul>
      </div>
      <div class="card-footer text-dark">
        <span class="badge bg-primary">Домашняя работа №8</span>
        <span class="badge bg-primary">Ниязов Ильяс</span>
        <span class="badge bg-primary">18.05.2023</span>
      </div>
    </div>
  </div>
{% endblock %}